<h1>Welcome, <%= current_user.email %></h1>
<h1>View details of each menu item</h1>
<ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.name, recipe %>
      </li>
    <% end %>
</ul>
<h3><%= link_to "Add new menu item", "/recipes/new" %></h3>
