<h1>Menu</h1>
<ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= recipe.name %>
      </li>
    <% end %>
</ul>
<h1>Shopping list</h1>
<ul>
    <% @ingredients.each do |ingredient| %>
      <li>
        <%= ingredient %>
      </li>
    <% end %>
</ul>