<h1><%= @recipe.name %></h1>
<ul>
    <% @ingredientList.each do |ingredient| %>
      <li>
        <%= ingredient %>
      </li>
    <% end %>
</ul>

<ul>
  <b>
    <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
    <li><%= link_to "Destroy", recipe_path(@recipe), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>
  </b>
</ul>