<h1><%= @recipe.name %></h1>
<ul>
    <% @ingredientList.each do |ingredient| %>
      <li>
        <%= ingredient %>
      </li>
    <% end %>
</ul>

<ul>
  <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
</ul>