<header>
    <div class="flex-container" id="top-header">
      <div>
        <h1 class="siteName">Mealrando</h1>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path %><br>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %><br>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>
    </div>
</header>